* {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#logo-v {
  display: none;
}

img {
  width: 60vw;
  margin: auto;
}

p {
  font-size: 40px;
}

.text {
  display: flex;
  color: gray;
  justify-content: space-between;
}

@media screen and (width < 900px) {
  p {
    font-size: 30px;
  }
  #logo {
    display: none;
  }
  #logo-v {
    display: block;
  }
}

@media screen and (width < 650px) {
  p {
    font-size: 5.5vw;
  }
  #logo-v {
    width: 80vw;
  }
}